@using Microsoft.AspNetCore.Http
@model CloudDentist.Models.UserModel
@{
    ViewData["Title"] = "userprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Loader -->
<!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
<div id="page-header-loader" class="overlay-header bg-primary">
    <div class="content-header content-header-fullrow text-center">
        <div class="content-header-item">
            <i class="fa fa-sun-o fa-spin text-white"></i>
        </div>
    </div>
</div>
<!-- END Header Loader -->
  <!-- END Header -->
<!-- Main Container -->
<main id="main-container">

    <!-- Hero -->
    <div class="bg-primary">
        <div class="bg-pattern bg-black-op-25" style="background-image: url('assets/media/various/bg-pattern.png');">
            <div class="content content-top text-center">
                <div class="py-50">
                    <h1 class="font-w700 text-white mb-10">Profile</h1>
                    <h2 class="h4 font-w400 text-white-op">@Model.Username</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->
    <!-- Contact Form -->
    <!-- Contact Form Validation functionality is initialized in js/pages/be_pages_generic_contact.min.js which was auto compiled from _es6/pages/be_pages_generic_contact.js -->
    <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
    <div class="content content-full">
        <div class="row justify-content-center py-30">
            <div class="col-lg-8 col-xl-6">
                <form asp-action="CreatePost" method="post">
                    <div class="form-group row">
                        <label asp-for="Email" class="col-12" for="be-contact-email">Email</label>
                        <div class="col-12">
                            <input asp-for="Email" type="email" class="form-control form-control-lg" id="be-contact-email" name="be-contact-email">
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="rolename" class="col-12" for="be-contact-subject">User Role</label>
                        <div class="col-12">
                            <select class="form-control form-control-lg" id="rolename" name="rolename">
                                @if (Model.currentrole == null)
                                {
                                    <option>Select Roles</option>
                                }
                                else
                                {
                                    <option>@Model.currentrole</option>
                                    
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12" for="be-contact-message">Message</label>
                        <div class="col-12">
                            <textarea class="form-control form-control-lg" id="be-contact-message" name="be-contact-message" rows="10" placeholder="Enter your message.."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <div class="col-12 text-center">
                                <button type="submit" value="Submit" class="btn btn-alt-success">
                                    <i class="fa fa-plus mr-10"></i> Edit User Role
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Contact Form -->
    <!-- Google Maps functionality is initialized in js/pages/be_pages_generic_contact.min.js which was auto compiled from _es6/pages/be_pages_generic_contact.js -->
    <!-- For more info and examples you can check out https://hpneo.github.io/gmaps/ -->
    <div id="js-map-be-contact" style="height: 380px;"></div>

</main>
<!-- END Main Container -->
<script src="~/assets/js/core/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            var options = {};
            var obj = {};
            obj.token = ('@Context.Session.GetString("JWTtoken")');
            options.data = JSON.stringify(obj);
            sessionStorage.setItem("token", obj.token);
            options.url = "http://localhost:30512/api/UserRole";
            options.type = "GET";
            options.beforeSend = function (request) {
            request.setRequestHeader("Authorization",
            "Bearer " + sessionStorage.getItem("token"));
            };
                options.dataType = "json";
                options.success = function (data) {
                    data.forEach(function (element) {
                        $("#rolename").append("<option>"
                            + element.roleName + "</option>");
                    });
                };
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");

            };

                $.ajax(options);
        });
</script>
